<div class="wrapper">
    <div class="leftside">
        <div class="registerHeader">
            <h2 style="font-size: x-large;">Fundoo</h2>
            <h5 style="font-size: x-large;">Create your Fundoo Account</h5>
        </div>
        <div class="input">
            <div>
                <mat-form-field appearance="outline" style="width: 124%;">
                    <mat-label>UserName</mat-label>
                    <input formControlName="userName" matInput placeholder="userName">
                    <mat-error *ngIf="submitted && f['userName']?.hasError('required')">UserName required</mat-error>
                </mat-form-field>
                <p class="xyz">You can use letters,numbers & periods</p>
            </div>
            <div class="email">
                <mat-form-field appearance="outline" style="width: 129%;">
                    <mat-label>Email Id</mat-label>
                    <input formControlName="email" matInput type="email" placeholder="Email Id">
                    <mat-error *ngIf="submitted && f['email']?.hasError('email')">Invalid email</mat-error>
                    <mat-error *ngIf="submitted && f['email']?.hasError('required')">Email required</mat-error>
                </mat-form-field>
            </div>
            <div class="userContact">
                <mat-form-field appearance="outline" style="width: 129%;">
                    <mat-label>Contact</mat-label>
                    <input formControlName="userContact" matInput type="text" placeholder="Contact">
                    <mat-error *ngIf="submitted && f['userContact']?.hasError('required')">Contact is required</mat-error>
                </mat-form-field>
            </div>
            <div class="password">
                <mat-form-field appearance="outline">
                    <mat-label>password</mat-label>
                    <input formControlName="password" matInput type="password" placeholder="Password">
                    <mat-error *ngIf="submitted && f['password']?.hasError('required')">Password is required</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" style="padding-left: 10px;">
                    <mat-label>Confirm Password</mat-label>
                    <input formControlName="confirmPassword" type="password" placeholder="Confirm">
                    <mat-error *ngIf="submitted && f['confirmPassword']?.hasError('required')">Confirm Password is required</mat-error>
                </mat-form-field>
            </div>
            <p>Use 8 or more chrachter with mix of latters,numbers & symbols</p>

            <div class="registerBtn">
                <button mat-button color="primary" style="font-size: 17px;" (click)="handleNavigation()">Sign in
                    instead</button>
                <button mat-flat-button color="primary" (click)="handleRegisterClick()">Register</button>
            </div>
        </div>
    </div>
    <div class="image-container">
        <img src="../../../assets/img.PNG" alt="img" width="250" height="270" style="margin-left:20%;">
        <span>One account.All of Fundoo working for you.</span>
    </div>
</div>