.main-div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .displaynote-div {
    width: 100%;
    max-width: 600px; 
  }
  
  .card {
    box-shadow: 0px 2px 4px rgba(0.8, 0.8, 0.8, 0.8);
    border-radius: 5px;
    padding: 20px 20px 5px 20px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    background-color: white;
    position: relative;
  }
  
  .card-title {
    margin-bottom: 20px;
  }
  
  .card-title span {
    font-size: 1.5em;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
  }
  
  .card-description {
    font-size: 1.2em;
    margin-bottom: 20px;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    border: none; 
    resize: none;
    overflow-y: hidden;
    outline: none;
  }
  
  .icon-container {
    display: flex;
    justify-content: space-between;
    opacity: 0; 
    transition: opacity 0.3s ease; 
  }
  
  .card:hover .icon-container {
    opacity: 1; 
  }
  
  .btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 8px;
    border-radius: 50%;
    transition: background-color 0.2s ease; 
  }
  
  .btn:hover, 
  .btn:focus {
    background-color: #f0f0f0; 
  }
  
  button:active {
    background-color: #dcdcdc; 
  }
  
  .mat-icon {
    width: 24px; 
    height: 24px; 
    fill: currentColor; 
  }
  