<div class="dashboard_header" style="width: 100%;">
    <mat-toolbar>
        <div class="rightside-icon">
            <button class="btn button" (click)="handleToggleDrawer()">
                <mat-icon class="icon" svgIcon="Menu-icon" aria-hidden="false" aria-label="Menu SVG icon"></mat-icon>
            </button>
            <img src="../../assets/googlekeepLogo.png" class="keep-img" alt="google keep">
            <span>Keep</span>
        </div>
        <div class="search-container">
            <button class="btn button">
                <mat-icon class="search-icon btn" svgIcon="Search-icon" aria-hidden="true"
                    aria-label="Search SVG icon"></mat-icon>
            </button>
            <input type="text" class="search-input" placeholder="Search">
        </div>
        <div class="leftside-icon">
            <button class="btn refresh-btn button">
                <mat-icon class="icon" svgIcon="Refresh-icon" aria-hidden="true"
                    aria-label="Refresh SVG icon"></mat-icon>
            </button>
            <button class="btn list-view-btn button">
                <mat-icon class="icon" svgIcon="List-view-icon" aria-hidden="true"
                    aria-label="List view SVG icon"></mat-icon>
            </button>
            <button class="btn setting-btn button">
                <mat-icon class="icon" svgIcon="Setting-icon" aria-hidden="true"
                    aria-label="Setting SVG icon"></mat-icon>
            </button>
            <button class="btn other-menu-btn button">
                <mat-icon class="icon" svgIcon="Other-menu-icon" aria-hidden="true"
                    aria-label="Other menu SVG icon"></mat-icon>
            </button>
            <button class="btn button" [matMenuTriggerFor]="menu1">
                <div class="fundoo-note-account">
                    <span>U</span>
                </div>
            </button>

            <mat-menu #menu1="matMenu">
                <button mat-menu-item (click)="handleAccClick()">
                    <span>Log out</span>
                </button>
            </mat-menu>

        </div>
    </mat-toolbar>
</div>